<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.parsanatech.crazycoder">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" -->

    <!-- tools:ignore="QueryAllPackagesPermission" /> -->
    <queries>
        <intent>
            <action android:name="android.intent.action.INSERT" />

            <data android:mimeType="vnd.android.cursor.dir/event" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.CrazyCoder">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo1" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/dialogDarkcolor" />

        <activity android:name=".MyCustomAppIntro"
            android:label="My Custom AppIntro"
            android:exported="false"/>
        <activity
            android:name=".AddPlatformActivity"
            android:exported="false" />
        <activity
            android:name=".LetUsChatActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".PasswordResetActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".wrongEmailsignup"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".EmailVarificationSignUp"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".SignIn"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".AddFriendActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".SignUp"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="unspecified"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="unspecified"
            android:configChanges="orientation|screenSize|keyboardHidden"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>